@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: "SpoqaHanSansNeo-Regular" !important;
}

.text-subtitle {
    font-weight: 700;
    font-size: 18px;
    color: #000000;
}

.search-bar::placeholder {
    font-family: "SpoqaHanSansNeo-Regular";
}

.search-bar {
    font-family: "SpoqaHanSansNeo-Regular";
}

.bus-list-number {
    font-weight: 700;
    font-size: 18px;
}

.bus-list-section {
    font-weight: 400;
    font-size: 14px;
}

.bus-title {
    font-weight: 700;
    font-size: 18px;
}

.bus-direction {
    font-weight: 500;
    font-size: 14px;
}

.bus-time-list {
    font-weight: 500;
    font-size: 14px;
}

.bus-gansun {
    color: #344CFF;
}

.bus-ganhuk {
    color: #FF0012;
}

.bus-ilban {
    color: #00B021;
}

.bus-maul {
    color: #A2C437;
}

.bus-sunwan {
    color: #FFF600;
}

.modal-title {
    font-weight: 700;
    font-size: 18px;
}

.modal-button-text {
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}
