html {
    background: #f8f8f8;
}

body {
    margin: 0 auto;
    padding: 24px;
    max-width: 600px;
}

#top-bar-custom {
    position: relative;
    width: 100%;
    height: 36px;
}

.profile-box {
    right: 0;
    top: 0;
    display: inline-block;
    width: 36px;
    height: 36px; 
    border-radius: 70%;
    overflow: hidden;
    background: #BDBDBD;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.menu-bar {
    left: 0;
    top: 0;
    margin-top: 6px;
}

.top-bar-item {
    position: absolute;
    cursor: pointer;
}

.search-bar {
    height: 40px;
    width: 100%;;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.13);
    border-radius: 0 23.5px 23.5px 0;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: 15px;
}

.search-place {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.13);
    border-radius: 23.5px 0 0 23.5px;
    border: none;
    padding-left: 18px;
}

.search-button {
    width: 42px;
    min-width: 42px;
    max-width: 42px;
    height: 42px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.13);
    border-radius: 23.5px;
    border: none;
    background-color: #FF5555;
}

.search-bar:focus {
    outline: none;
}

.search-place:focus {
    outline: none;
}

.layout-main {
    margin-bottom: 15px;
}

.search-from {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.main-content {
    padding-left: 5px;
    padding-right: 5px;
}

.text-subtitle {
    margin-left: -5px;
}

.layout-card {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 24px;
}

.bus-title {
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 18px;
}

.bus-number {
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bus-station {
    flex: none;
    order: 1;
    flex-grow: 1;
}

.bus-direction {
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.bus-time-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.bus-time-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
}

.bus-time-first {
    flex: none;
    order: 0;
    flex-grow: 1;
}

.bus-time-second {
    flex: none;
    order: 0;
    flex-grow: 1;
}

.bus-statin-left {
    flex: none;
    order: 1;
    flex-grow: 0;
}

.bus-seat-left {
    flex: none;
    order: 2;
    flex-grow: 0;
}
